.header {
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    margin-bottom:1rem;
}
.btn:focus {
    box-shadow: none !important;
    outline: none !important;
}